In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
submission_df = pd.read_csv("y_preds.csv")
df_test = pd.read_csv('test_amended.csv')

In [23]:
# creating the energy allocation - mean allocation

# amount for galaxies with amount below 0.7
bottom10 = 50000*0.1/len(df_test[df_test['existence expectancy index']<0.7])
topenergy = 50000*0.9/len(df_test[~(df_test['existence expectancy index']<0.7)])
print(bottom10,topenergy)

74.6268656716418 54.67800729040097

In [24]:
energy_allocation = df_test['existence expectancy index'].apply(lambda x: bottom10 if x<0.7 else topenergy)

In [25]:
submission_df['opt_pred'] = energy_allocation

In [26]:
submission_df.reset_index(inplace=True)
submission_df.to_csv('submission1.csv',index=False)

In [27]:
submission_df

     index      pred   opt_pred
0        0  0.042958  74.626866
1        1  0.040278  74.626866
2        2  0.040578  74.626866
3        3  0.039974  74.626866
4        4  0.034631  74.626866
..     ...       ...        ...
885    885  0.028160  54.678007
886    886  0.034358  54.678007
887    887  0.068576  54.678007
888    888  0.063241  54.678007
889    889  0.029399  74.626866

[890 rows x 3 columns]